<!-- <div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">

      <h1 class="title has-text-centered">Typing Challenge</h1>
      <p class="has-text-centered">
        <span [class]="compares(letter,enteredText[i])"
         *ngFor="let letter of randomText.split('');let i = index;"
         >{{letter}}</span>
      </p>

      <div class="field">
        <input class="input" (input)="onInput($event.target.value)" />
      </div>

      <div *ngIf="randomText === enteredText" class="box has-text-centered">
        <h1>Success!</h1>
      </div>

    </div>
  </div>
</div> -->
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <title>Type Test</title>
</head>

<body>
  <form [formGroup]="form" novalidate>
    <div class="container">
      <div class="jumbotron">
        <div class="d-flex justify-content-end">
          <select (change)="selects($event)">
            <option value="ENG">ENG</option>
            <option value="TH">TH</option>
          </select>
        </div>
        <h1 class="display-3 ">Type Test</h1>
        <h4 *ngIf="!end && tick" class="display-3">Start: {{ tick | number: '2.0-0' }} s</h4>
        <h4 *ngIf="!end && !tick" class="display-3">Start: 00 s</h4>
        <p class="lead">{{ text }}</p>
        <textarea *ngIf="end===false" (keyup)="onKey($event)" class="form-control" formControlName="text" rows="4" cols="50" id="inputEmail"
          class="form-control" placeholder="Start Test" required autofocus></textarea>
          <h3 class="custom-try-again" style="color:red" *ngIf="error">Try again</h3>
          <h3 class="display-3" style="color:green" *ngIf="end">Test finished. WPM: {{wpm | number: '1.0-0'}} words/min. Accuracy: {{ accuracy | number: '1.0-0'}}%</h3>
      </div>
      <div class="container">
        <button (click)="changeText()" class="btn btn-lg btn-primary btn-block" type="reset">Try another text</button>
      </div>
    </div>
  </form>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</html>
