header {
    width: 100%;
    .logo {
      background-image: url('../../assets/typing1.png');
      width: 65px;
      height: 65px;
      background-size: contain;
      background-repeat: no-repeat;
    }
    .example-spacer {
      flex: 1 1 auto;
    }
    .links {
      color: white;
      font-family: 'Helvetica Neue', sans-serif;
      font-size: 15px;
      font-weight: initial;
      letter-spacing: -1px;
      line-height: 1;
      text-align: center;
      padding: 15px;
      &.side {
        font-size: 20px;
        padding: 0 14px;
      }
    }
    .mat-toolbar {
      background: black;
    }
    .mat-icon {
      vertical-align: middle;
      margin: 5px 5px 18px 5px;
      font-size: 35px;
      padding-right: 35px;
    }
    a {
      cursor: pointer;
      padding: 20px;
      color: white;
      text-decoration: none;
    }

    a:hover{
      color: aqua;
    }

    a.keyboard:hover {
      color: #1E90FF;
    }

    a.history:hover {
      color: 	#d8d8d8;
    }

    a.ranking:hover{
      color: gold
    }
  }
