<div class="table-users">
  <div class="header">Ranking</div>

  <table cellspacing="0">
     <tr>
        <th>Rankig</th>
        <th>Name</th>
        <th>Email</th>
        <th>WPM</th>
        <!-- <th width="230">Comments</th> -->
     </tr>

     <tr>
        <td>1</td>
        <td>Jane Doe</td>
        <td>jane.doe@foo.com</td>
        <td>86 WPM</td>
        <!-- <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </td> -->
     </tr>

     <tr>
        <td>2</td>
        <td>John Doe</td>
        <td>john.doe@foo.com</td>
        <td>60 WPM</td>
        <!-- <td>Blanditiis, aliquid numquam iure voluptatibus ut maiores explicabo ducimus neque, nesciunt rerum perferendis, inventore.</td> -->
     </tr>

     <tr>
        <td>3</td>
        <td>Jane Smith</td>
        <td>jane.smith@foo.com</td>
        <td>55 WPM</td>
        <!-- <td> Culpa praesentium unde pariatur fugit eos recusandae voluptas.</td> -->
     </tr>

     <tr>
        <td>4</td>
        <td>John Smith</td>
        <td>john.smith@foo.com</td>
        <td>42 WPM</td>
        <!-- <td>Aut voluptatum accusantium, eveniet, sapiente quaerat adipisci consequatur maxime temporibus quas, dolorem impedit.</td> -->
     </tr>
  </table>
</div>
