<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container text-center" >
    <div class="header">ประวัติ</div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ครั้งที่</th>
        <th>วันที่</th>
        <th>Wpm</th>
        <th>ลบข้อมูล</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let item of num">
        <td>{{item+1}}</td>
        <td>{{value[item].createdAt | date:"วันที่ d เดือน M ปี y เวลา HH:mm:ss"}}</td>
        <td>{{value[item].wpm  | number: '1.0-0'}}</td>
        <td>
          <a class="btn btn-danger btn-xs" (click)="setdata(value[item]._id)">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</div>
</body>

</html>
